@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap");
.boton {
  background-color: #698f2f;
  border-radius: 20px;
  transition: 1s;
  padding: 3px;
  width: auto;
  border: solid black 1px; }

.boton:hover {
  background-color: #a7fc27;
  transform: scale(1.2);
  transition: 1s; }

.boton--celeste {
  background-color: #00a2ff !important; }

.boton--celeste:hover {
  background-color: #08e0fd !important; }

.header-rojo {
  color: #FE1454 !important; }

.header-azul {
  color: #1366B7 !important; }

.header-naranja {
  color: #FF8921 !important; }

.header-turqueza {
  color: #20AD8D !important; }

.header-violeta {
  color: #CB08F0 !important; }

.img--tamaño1 {
  transform: scale(1); }

.img--tamaño2 {
  transform: scale(2); }

body {
  font-family: 'Lato', sans-serif !important;
  background-color: #F2F2F2 !important; }

h5 {
  font-weight: bold !important; }

.topMenu {
  display: flex;
  padding: 0rem 2rem 1rem 2rem;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid rgba(51, 45, 45, 0.295) 1px;
  box-shadow: 0rem 0rem 1rem 0rem grey; }
  .topMenu img {
    margin-top: 1rem;
    width: 50%;
    height: 50%; }
  .topMenu a {
    text-decoration: none;
    color: black; }
  .topMenu li {
    list-style: none; }
  .topMenu UL {
    display: flex;
    align-items: flex-end; }
    .topMenu UL li {
      margin: 10px 15px 0px 10px;
      padding: 0rem 2rem 0rem 2rem; }
      .topMenu UL li ul {
        display: none; }
      .topMenu UL li div:hover button {
        color: black !important;
        border: none;
        background-color: none;
        border: none; }
      .topMenu UL li div button {
        background-color: #F2F2F2 !important;
        color: black;
        border: none !important;
        position: relative;
        top: 6px; }

.preguntas {
  display: flex;
  margin: 2rem 2rem 0rem 2rem;
  flex-direction: column; }
  .preguntas div {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: max-content; }

.topMenu--responsive {
  display: none; }

.fotosIndex {
  display: flex;
  justify-content: space-around;
  padding: 5rem; }
  .fotosIndex a {
    text-decoration: none;
    color: black;
    filter: drop-shadow(2px 2px 2px grey); }

.fotosIndex:hover a {
  text-decoration: none;
  color: black; }

h1 {
  text-align: center; }

.carrusel {
  height: 25% !important;
  width: 25% !important; }

.mainCarrusel {
  display: flex;
  justify-content: center; }

.galeria {
  display: flex;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3rem; }
  .galeria img {
    transition: 1s;
    z-index: 2; }
  .galeria p {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 1s;
    z-index: 1; }
  .galeria div {
    display: flex;
    flex-direction: column;
    width: 10rem;
    text-decoration: none; }

.galeria div:hover img {
  transform: scale(1.5);
  transition: 1s;
  z-index: 3; }

.galeria-responsive {
  display: none; }

.descripcionFoto {
  display: flex;
  justify-content: center; }
  .descripcionFoto p {
    text-align: center;
    width: 20rem;
    height: 15rem; }

.biografia:not(img) {
  align-items: center; }

.biografia {
  display: flex;
  margin-top: 30px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px; }
  .biografia img {
    width: 1100px;
    height: 709px; }
  .biografia aside {
    background-color: rgba(255, 255, 255, 0.541);
    width: 1240px;
    height: 626px;
    position: absolute;
    right: 1rem; }
    .biografia aside nav {
      font-size: 35px;
      font-weight: bold;
      text-align: center; }
    .biografia aside p {
      font-size: 32px;
      text-align: center; }

.contenedorContacto {
  display: flex;
  justify-content: center; }

.contacto {
  border: solid rgba(0, 0, 0, 0.514) 1px;
  border-radius: 20px;
  width: 30rem;
  height: 30rem;
  padding: 9px; }

@media only screen and (max-width: 1000px) {
  .topMenu {
    display: none; }
  .topMenu--responsive {
    display: flex; }
    .topMenu--responsive div {
      display: none; }
    .topMenu--responsive ul li img {
      position: relative;
      left: 2rem;
      width: 2rem;
      height: 2rem; }
    .topMenu--responsive ul li ul {
      display: flex;
      flex-direction: column;
      Z-index: 4;
      position: absolute;
      background-color: #F2F2F2;
      border: solid black 1px;
      text-align: start;
      width: 17rem;
      right: 5rem;
      list-style-position: inside; }
  .galeria {
    display: none; }
  .galeria-responsive {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem; }
    .galeria-responsive img {
      transition: 1s;
      z-index: 2; }
    .galeria-responsive p {
      position: relative;
      text-decoration: none;
      text-align: center;
      color: black;
      transition: 1s;
      z-index: 1; }
    .galeria-responsive div {
      display: flex;
      flex-direction: column;
      width: 10rem;
      height: 15rem;
      text-decoration: none; }
  .galeria-responsive div:hover img {
    transform: scale(1.5);
    transition: 1s;
    z-index: 3; } }

@media only screen and (max-width: 750px) {
  .fotosIndex {
    display: flex;
    flex-direction: column;
    margin-top: -7rem;
    align-items: center; }
  .topMenu {
    display: none; }
  .topMenu--responsive {
    display: flex; }
    .topMenu--responsive div {
      display: none; }
    .topMenu--responsive ul li img {
      position: relative;
      left: 2rem;
      width: 2rem;
      height: 2rem; }
    .topMenu--responsive ul li ul {
      flex-direction: column;
      Z-index: 5;
      position: absolute;
      background-color: #F2F2F2;
      border: solid black 1px;
      text-align: start;
      width: 15rem;
      right: 5rem;
      list-style-position: inside; }
  .fotosIndex a {
    padding-top: 6rem; }
  .galeria--Responsive {
    border-top: solid black 1px; }
  .links {
    padding-right: -10rem; }
  .galeria {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    align-items: center; }
    .galeria img {
      padding-top: 3rem; }
  .biografia {
    display: flex;
    flex-direction: column; }
    .biografia aside {
      margin-top: 10px;
      width: 200%;
      height: auto;
      background-color: #F2F2F2;
      position: relative; }
      .biografia aside p {
        font-size: 20px;
        text-align: center; }
      .biografia aside nav {
        font-size: 20px;
        text-align: center; }
    .biografia img {
      position: relative;
      width: 200%;
      height: 200%; }
  .galeria-responsive {
    display: none; } }
